<nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
  <!-- Brand -->
  <!--a class="navbar-brand" href="#">ALUMNI</a-->
  <img src="assets/img/logo.png" alt="ALUMNI" width="60" height="60" />



  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-item nav-link active" href="#">Actualité <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Forum</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Statistique</a>
    </li>


    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Carrières
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">déposer offre </a>
        <a class="dropdown-item" href="#">consulter offre</a>
        <a class="dropdown-item" href="https://www.cci.univ-tours.fr/temoignages">témoignage</a>

      </div>
    </li>
  </ul>

</nav>
<img src="assets/img/diplome.jpg" alt="ALUMNI" width="1350" height="500" />





  <!-- Right Side Of Navbar -->
<div class="media border p-3" width="50">
  <img src="assets/img/calendrier.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:100px;">
  <div class="media-body">
    <h4>Forum des masters cci de France </h4>
    <img src="assets/img/mai.jpg"   style="width:70px;">
    <small><i>Posted on February 19, 2016</i></small> <br>
    <p> <img src="assets/img/heure.png"   style="width:20px;"> 10h00-16h00</p>
    <p> <img src="assets/img/loca.jpg" style="width:20px;"> Université de Tours</p>

  </div>
</div><BR>



<div class="media border p-3" width="50">
  <img src="assets/img/calendrier.png" alt="John Doe" class="mr-3 mt-3 rounded-circle" style="width:100px;">
  <div class="media-body">
    <h4>Réunion des anciens </h4>
    <img src="assets/img/juillet.jpg"   style="width:70px;">
    <small><i>Posted on February 19, 2016</i></small> <br>
    <p> <img src="assets/img/heure.png"   style="width:20px;">16h00-18h00</p>
    <p> <img src="assets/img/loca.jpg" style="width:20px;"> Université de Tours</p>

  </div>
</div>






<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>
  <div class="container text-center">
    <a class="title" text center><strong><em> <span style=" font-size: 40px; color:#046380;" >Nos partenaires</span> </em></strong></a><br><br><br><br><br><br>
  </div><div class="col-md-9 center" style="left:150px">


  <!-- The slideshow -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/img/Apside.png" alt="Apside" style="margin-left:300px">
    </div>
    <div class="carousel-item justify-content-center">
      <img src="assets/img/Atos.png" alt="Atos" >
    </div>
    <div class="carousel-item">
      <img src="assets/img/Sopra.png" alt="Sopra" style="margin-left:200px">
    </div>
    <div class="carousel-item">
       <img src="assets/img/Umanis.png" alt="Umanis" style="margin-left:300px">
    </div>

  </div>

  <!-- Left and right controls -->
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>

</div>


<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
<fieldset>
  <div class="container">
    <div class="footer-container">
      <div class="footer__logo footer-container__block">
        <a href="/" title="Association Pour l'Emploi des Cadres - Nous rencontrer, c'est avancer.">
        </a>
        <p class="footer-motto">Nous rencontrer, c'est garantir un avenir meilleur.</p>
      </div>
      <div class="footer__links footer-container__block">
        <div class="row">
          <div class="1">
            <ul class="six">
              <li><a href="/toutes-nos-faq.html" title="FAQ">FAQ</a></li>
              <li><a href="/tous-nos-services.html" title="Services de conseil">Services de conseil</a></li>
              <li><a href="/infos-legales.html" title="Conditions générales">Conditions générales</a></li>
              <li><a href="/qui-sommes-nous.html" title="Qui sommes nous ?">Qui sommes nous ? </a></li>
            </ul>
          </div>
          <div class="kf">
            <ul class="quatre">
              <li><a href="" title="Partenariats offres">Partenariats offres</a></li>
              <li><a href="" target="_blank" title="Nous rejoindre">Nous rejoindre</a></li>
              <li><a href="" target="_blank" title="Site corporate">Site corporate</a></li>
              <li><a href="" target="_blank" title="Salons Apec">Salons Africajob</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</fieldset>
</nav>






